<div class="col-md-4">
    <div class="card text-xs-center fixed-medium-height">
        <div class="card-header">
            <a target="_new" href={{feed.link}} class="title">{{truncate feed.title 40}}</a>
        </div>
        <div class="card-block">
            <p class="card-text">{{truncate feed.description 350}}</p>
        </div>
        <div class="card-footer text-muted">
            {{log feed.tags}}
            <div class="row">
                <div class="col-xs-6">Source: {{titleize feed.source}}</div>
                <div class="col-xs-6">Tags: {{feed.tags}}</div>
            </div>
            
        </div>
    </div>
</div>